{% extends "base.html" %}
{% block body %}
<script type="text/template" id="composite-template">
Pothole Information
<form  class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="name">Address</label>
            <input id="address" type="text" placeholder="Address of the pothole">
        </div>
	<h3>Inputting latitude and longitude is optional</h3>
	<div class="pure-control-group">
            <label for="name">Latitude</label>
            <input id="Latitude" type="text" placeholder="Latitude">
        </div>
	<div class="pure-control-group">
            <label for="name">Longitude</label>
            <input id="Longitude" type="text" placeholder="Longitude">
        </div>  
        <button href="/update" type="submit" class="pure-button pure-button-primary" id="add">Submit</button>
    </fieldset>
    
</form>

<table class="pure-table pure-table-bordered">
	<thead>
		<tr><th>Address</th><th>Latitude</th><th>Longitude</th></tr>
	</thead>
	<tbody>
	
	</tbody>
</table>
<div class="formDiv" id="map_canvas"></div>
		<input id="pac-input" class="controls" type="text" placeholder="Search Box">
</script>


<script type="text/template" id="first-template">
	<td><%- address%></td>
	<td><%- Latitude %></td>
	<td><%- Longitude%></td>
</script>

<div class="pure-g">
	<div class="pure-u-1-12"></div>
	<div class="pure-u-5-6">
		<h1>Potholes</h1>
		</table>
		<table class="pure-table pure-table-bordered" id="first-region">
		<table class="pure-table pure-table-bordered" id="second-region">
		</table>
		<hr>
		<div id="third-region"></div>
		<a href="/"><button class="pure-button pure-button-primary">Home</button></a>
		<a href="#input"><button class="pure-button pure-button-primary">Input</button></a>
		

</div>

</div>

 <script type="text/javascript"
	  src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places">
  </script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  </script>

  <script src="static/directions.js"></script>
  <style type="text/css">
    html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    #map_canvas{
    width: 1500px; 
    height: 700px;
    }
    .contextmenu{
    visibility:hidden;
    background:#ffffff;
    border:1px solid #8888FF;
    z-index: 10;  
    position: relative;
    width: 220px;
    }
    .contextmenu div{
    padding-left: 5px
    }
    #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
    }
    
    #pac-input:focus {
        border-color: #4d90fe;
    }
    
    .pac-container {
    font-family: Roboto;
    }
    
    #type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
    }
    
    #type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
    }
    
  </style>
  <title>Places search box</title>
  <div class="formDiv" id="map_canvas"></div>
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
<script src="static/app.js"></script>



{% endblock body %}
