{% extends "base.html" %}
{% block body %}
<script type="text/template" id="composite-template">
Pothole Information
<form  class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="name">Avenue</label>
            <input id="avenue" type="text" placeholder="Avenue of Pothole">
        </div>
        <div class="pure-control-group">
            <label for="name">Street</label>
            <input id="street" type="text" placeholder="Street of Pothole">
        </div>
        <div class="pure-control-group">
            <label for="name">Building Number</label>
            <input id="BN" type="text" placeholder="Closest Building Num">
        </div>  
        <button href="/update" type="submit" class="pure-button pure-button-primary" id="add">Submit</button>
    </fieldset>
    
</form>

<table class="pure-table pure-table-bordered">
	<thead>
		<tr><th>Avenue</th><th>Street</th><th>BN</th><th>Latitude</th><th>Longitude</th></tr>
	</thead>
	<tbody>
	
	</tbody>
</table>
<div class="formDiv" id="map_canvas"></div>
		<input id="pac-input" class="controls" type="text" placeholder="Search Box">
</script>


<script type="text/template" id="first-template">
	<td><%- avenue %></td>
	<td><%- street %></td>
	<td><%- BN %></td>
	<td><%- Latitude %></td>
	<td><%- Longitude%></td>
</script>

<div class="pure-g">
	<div class="pure-u-1-12"></div>
	<div class="pure-u-5-6">
		<h1>Potholes</h1>
		</table>
		<table class="pure-table pure-table-bordered" id="first-region">
		<table class="pure-table pure-table-bordered" id="second-region">
		</table>
		<hr>
		<div id="third-region"></div>
		<a href="/"><button class="pure-button pure-button-primary">Home</button></a>
		<a href="#input"><button class="pure-button pure-button-primary">Input</button></a>
		

</div>

</div>


<script src="static/app.js"></script>



{% endblock body %}
